/* Carousel Container */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  /* Carousel Item */
  .carousel-item {
    flex: 0 0 auto;
    width: 100px; /* Width can be adjusted based on your preference */
    margin-right: 16px;
    text-align: center;
  }
  
  /* Carousel Item Image */
  .carousel-item img {
    max-width: 100%;
    display: block;
    margin: 0 auto 8px; /* Centers the image and adds space below */
  }
  
  /* Product Name */
  .carousel-item p {
    margin: 4px 0;
  }
  
  /* Optional: Basic scrollbar styling */
  .carousel::-webkit-scrollbar {
    height: 4px;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  .carousel::-webkit-scrollbar-track {
    background: #efefef;
  }
  
  /* Clearfix */
  .chat-window::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Ensures the chatWindow doesn't collapse */
  .chat-window {
    overflow: hidden;
  }
  
  .message{
    margin: 10px 0;
    border: 1px solid #ccc;
  }